<a href="https://colab.research.google.com/github/atletlgomez/titanic_and_crash/blob/main/Titanic_and_Crash_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_rows', 15)

#Import

In [ ]:
titanic = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanic.csv")

In [ ]:
crash = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/crash.csv", index_col=False)

/tmp/ipython-input-153-2360366125.py:1: DtypeWarning: Columns (1,9) have mixed types. Specify dtype option on import or set low_memory=False.
  crash = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/crash.csv", index_col=False)

#df.head()

In [ ]:
titanic.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyv채skyl채, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City

In [ ]:
crash.head()

# **Reshaping Data**

###melt

In [ ]:
titanic.melt(var_name="New Col", value_name="same vals")

In [ ]:
crash.melt(var_name = "Old Col", value_name = "New Values")

Every column became a row

###pivot

In [ ]:
titanic.pivot(columns="Pclass", values="Name").apply(lambda x: x.fillna("No Name"))

Titanic is pivoted, Pclass values are now the columns, Name are now the values

In [ ]:
crash.pivot(values = "Vehicle Year", columns = "Parked Vehicle").fillna("No Vehicle")

###concat

In [ ]:
American = titanic.Hometown.str.contains("US").rename("American").reset_index()
American.info()

In [ ]:
pd.concat([titanic, American], axis=1)

In [ ]:
new_col = crash["Agency Name"].str.contains("Police").rename("Police Affiliated")
pd.concat([crash, new_col], axis=1)

created a seperate data frame to display true or false if their hometown has "US", remerged them

###sort values

In [ ]:
titanic.sort_values(by=["Age", "PassengerId"], ascending=[False, True])

In [ ]:
crash.sort_values(by ="Vehicle Year")

###rename

In [ ]:
titanic.rename(
    columns = {
        "Fare" : "Price"
    }
)

renamed fare to price

In [ ]:
crash.rename(columns={
    "Vehicle Going Dir": "Direction"
})

###sort index

In [ ]:
titanic.sort_index()

In [ ]:
crash.sort_index()

###reset index

In [ ]:
titanic[["Name", "Age"]].reset_index()

creates index and also converts series to dataframe

In [ ]:
crash[["Agency Name", "Vehicle Year"]].reset_index()

###drop

In [ ]:
titanic.drop(columns=["Unnamed: 0"])

dropped the column that caused a double index

In [ ]:
crash.drop(columns=["Route Type"])

#**Subset Observations - rows**

In [ ]:
titanic[titanic.Age > 30]

In [ ]:
crash[crash["Speed Limit"] > 15]

###drop duplicates

In [ ]:
titanic.Age.drop_duplicates()

NameError: name 'titanic' is not defined

In [ ]:
crash["Vehicle Year"].drop_duplicates().sort_values()

###Sample

In [ ]:
titanic.sample(frac=0.5)

In [ ]:
crash.sample(13)

In [ ]:
titanic.sample(50)

sampled 50 random rows

###nLargest & nSmallest

In [ ]:
titanic.nlargest(5, "Age")

displays 5 with the largest values in Age

In [ ]:
titanic.nsmallest(5, "Fare")

In [ ]:
crash.nsmallest(3, "Speed Limit")

In [ ]:
crash.nlargest(3, "Speed Limit")

###head and tail

In [ ]:
titanic.head()

displays the first five valules in the data frame

In [ ]:
titanic.tail(2)

In [ ]:
crash.head(2)

In [ ]:
crash.tail(2)

#**Subset Variables - columns**

In [ ]:
titanic[["PassengerId", "Name", "Sex"]]

In [ ]:
crash[["Speed Limit", "Vehicle Make"]]

###filter

In [ ]:
titanic.filter(regex = "N")

In [ ]:
crash["Speed Limit"].filter(regex = "1")

#**Using Query**

In [ ]:
titanic.query("Age > 45")

In [ ]:
crash.query("`Vehicle Year` > 2015")

#**Subset - rows and columns**

###loc and iloc

In [ ]:
titanic.iloc[0:5, 0:3]

displays the first five rows and the first three columns

In [ ]:
titanic.loc[:, "Name":"Age"]

In [ ]:
crash.loc[:, "Speed Limit":"Vehicle Make"]

In [ ]:
crash.iloc[:, 0:2]

###iat and at

In [ ]:
titanic.iat[3,4]

In [ ]:
crash.iat[4,5]

In [ ]:
titanic.at[77, "Sex"]

In [ ]:
crash.at[104, "Speed Limit"]

displays gender value of 77 index

#**Group Data**

###groupby

In [ ]:
titanic.groupby("Name")["Age"].mean()

In [ ]:
titanic.groupby(level=0)["Fare"].min()

In [ ]:
crash.groupby("Vehicle Model")["Speed Limit"].max()

###Shift

In [ ]:
titanic["Fare"].shift(-3)

In [ ]:
crash.shift(3)

###rank

In [ ]:
titanic["Age"].rank(method="min")

In [ ]:
crash["Vehicle Year"].rank()

In [ ]:
titanic.Age.cumsum()

In [ ]:
crash["Speed Limit"].cumsum()

In [ ]:
titanic.Age.cummax()

In [ ]:
crash["Speed Limit"].cummax()

In [ ]:
titanic.Age.cummin()

In [ ]:
crash["Speed Limit"].cummin()

In [ ]:
titanic.Age.cumprod()

In [ ]:
crash["Speed Limit"].cumprod()

#Handling Missing Data

In [ ]:
titanic.dropna()

In [ ]:
titanic.dropna(axis=1)

In [ ]:
titanic.fillna("Empty")

In [ ]:
titanic.fillna(0, axis=1)

#Make New Columns

In [ ]:
titanic.assign(NewCol = titanic.Age * titanic.Fare)

In [ ]:
crash.assign(YearSl = crash["Speed Limit"] * crash["Vehicle Year"])

In [ ]:
pd.qcut(titanic.Age, 2, labels=["Low", "High"])

0      Low
1     High
2      Low
3     High
4     High
5      NaN
6     High
7      Low
8     High
9      Low
10     Low
11    High
12     Low
13    High
14     Low
Name: Age, dtype: category
Categories (2, object): ['Low' < 'High']

In [ ]:
pd.qcut(crash["Speed Limit"], 2, labels=["Low", "High"])

0      Low
1      Low
2      Low
3      Low
4     High
5      Low
6      Low
7      Low
8     High
9     High
10    High
11     Low
12     Low
13    High
14    High
Name: Speed Limit, dtype: category
Categories (2, object): ['Low' < 'High']

In [ ]:
titanic.Age.clip(0, 45)

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     45.0
7      2.0
8     27.0
9     14.0
10     4.0
11    45.0
12    20.0
13    39.0
14    14.0
Name: Age, dtype: float64

In [ ]:
crash["Speed Limit"].clip(15, 25)

0     15
1     15
2     15
3     15
4     25
5     25
6     25
7     25
8     25
9     25
10    25
11    20
12    15
13    25
14    25
Name: Speed Limit, dtype: int64

#Windows

In [ ]:
titanic.Age.expanding().mean()

In [ ]:
titanic.Age.rolling(1).mean()

In [ ]:
crash["Speed Limit"].expanding().mean()

In [ ]:
crash["Speed Limit"].rolling(2).mean()

#Combine Data Sets

In [ ]:
titanic.merge(titanic.Age, how="inner")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
2,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
3,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
4,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93204,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93205,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93206,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93207,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93208,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [ ]:
crash.merge(crash["Speed Limit"], how="inner")

NameError: name 'crash' is not defined

#Plotting

In [ ]:
titanic.plot()

In [ ]:
crash.plot()

line graph

In [ ]:
titanic.plot.bar()

In [ ]:
crash.plot.bar()

In [ ]:
titanic.plot.scatter(x="PassengerId", y="Age")

In [ ]:
crash.plot.scatter(x="Speed Limit", y="Vehicle Year")

In [ ]:
titanic.plot.hist()

In [ ]:
crash.plot.hist()

In [ ]:
titanic.plot.area(subplots=True)

In [ ]:
crash.plot.area(subplots=True)

In [ ]:
titanic.plot.hexbin(x="PassengerId", y="Age")

In [ ]:
crash.plot.hexbin(x="Speed Limit", y="Vehicle Year")

In [ ]:
sample = titanic.sample(10)
sample.plot.pie(y="Fare")

In [ ]:
sample2 = crash.sample(10)
sample2.plot.pie(y="Speed Limit")

the bigger the piece of pie the more they paid than others

In [ ]:
titanic.boxplot(column='Age')

In [ ]:
crash.boxplot(column="Speed Limit")

#Changing Type

In [ ]:
pd.to_numeric(titanic.Fare)

In [ ]:
pd.to_datetime(crash["Speed Limit"])

In [ ]:
pd.to_datetime(titanic.Age)

In [ ]:
pd.to_datetime(crash["Vehicle Year"])

In [ ]:
titanic.PassengerId.astype("float")

In [ ]:
crash["Speed Limit"].astype("float")

In [ ]:
titanic.infer_objects()

In [ ]:
crash.infer_objects()

In [ ]:
titanic.convert_dtypes()

In [ ]:
crash.convert_dtypes()

#Datetime

In [ ]:
pd.to_datetime(titanic.Age).dt.day_name()

In [ ]:
pd.to_datetime(crash["Speed Limit"]).dt.day_name()

0         Thursday
1         Thursday
2         Thursday
3         Thursday
4         Thursday
            ...
198832    Thursday
198833    Thursday
198834    Thursday
198835    Thursday
198836    Thursday
Name: Speed Limit, Length: 198837, dtype: object

In [ ]:
pd.to_datetime(titanic.Age).dt.month_name()

In [ ]:
crash.head()

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0,No,Yes,2017,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5,No,No,2012,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,West,15,No,No,2015,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15,No,No,2018,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35,No,No,2017,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"

In [ ]:
pd.to_datetime(crash["Vehicle Year"]).dt.month_name()

0     January
1     January
2     January
3     January
4     January
5     January
6     January
7     January
8     January
9     January
10    January
11    January
12    January
13    January
14    January
Name: Vehicle Year, dtype: object

###Mapping

In [ ]:
titanic.Sex.map({"male" : "M", "female" : "F"})

0     M
1     F
2     F
3     F
4     M
5     M
6     M
7     M
8     F
9     F
10    F
11    F
12    M
13    M
14    F
Name: Sex, dtype: object

In [ ]:
crash["Vehicle Year"].map({2015 : "New", 2016 : "Old"}).fillna("Unknown")

0     Unknown
1     Unknown
2         New
3     Unknown
4     Unknown
5     Unknown
6     Unknown
7     Unknown
8         Old
9     Unknown
10    Unknown
11    Unknown
12    Unknown
13    Unknown
14    Unknown
Name: Vehicle Year, dtype: object

In [ ]:
titanic.Fare.apply(lambda x: x *2)

0      14.5000
1     142.5666
2      15.8500
3     106.2000
4      16.1000
5      16.9166
6     103.7250
7      42.1500
8      22.2666
9      60.1416
10     33.4000
11     53.1000
12     16.1000
13     62.5500
14     15.7084
Name: Fare, dtype: float64

In [ ]:
crash["Speed Limit"].apply(lambda x: x /2)

0      0.0
1      2.5
2      7.5
3      7.5
4     17.5
5     15.0
6     15.0
7     15.0
8     17.5
9     17.5
10    17.5
11    10.0
12     7.5
13    17.5
14    22.5
Name: Speed Limit, dtype: float64

#Series String Operations

In [ ]:
titanic.Name.str.count("Miss")

In [ ]:
crash["Agency Name"].str.count("Police")

In [ ]:
titanic.Sex.str.get(0)

In [ ]:
crash["Vehicle Make"].get(1)

'TOYOTA'

In [ ]:
titanic.Name.str.join("|")

In [ ]:
crash["Vehicle Make"].str.join(".")

0                 H.I.N.O
1             T.O.Y.O.T.A
2                 M.A.Z.D
3                   R.A.M
4                 A.U.D.I
5         M.E.R.C.E.D.E.S
6                 H.O.N.D
7                 F.O.R.D
8             T.O.Y.O.T.A
9               H.O.N.D.A
10                H.O.N.D
11    V.O.L.K.S.W.A.G.E.N
12              H.O.N.D.A
13                  K.I.A
14                  B.M.W
Name: Vehicle Make, dtype: object

In [ ]:
titanic.Sex.str.title()

In [ ]:
crash.head()

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0,No,Yes,2017,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5,No,No,2012,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,West,15,No,No,2015,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15,No,No,2018,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35,No,No,2017,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"

In [ ]:
crash["Vehicle Make"].str.lower()

0           hino
1         toyota
2           mazd
3            ram
4           audi
5       mercedes
6           hond
7           ford
8         toyota
9          honda
10          hond
11    volkswagen
12         honda
13           kia
14           bmw
Name: Vehicle Make, dtype: object

In [ ]:
titanic.Name.str.len()

In [ ]:
crash["Vehicle Make"].str.len()

0      4
1      6
2      4
3      3
4      4
5      8
6      4
7      4
8      6
9      5
10     4
11    10
12     5
13     3
14     3
Name: Vehicle Make, dtype: int64

In [ ]:
titanic.Name.str.cat()

In [ ]:
crash["Vehicle Make"].str.cat(sep=",")

'HINO,TOYOTA,MAZD,RAM,AUDI,MERCEDES,HOND,FORD,TOYOTA,HONDA,HOND,VOLKSWAGEN,HONDA,KIA,BMW'

In [ ]:
titanic.Name.str.partition(",").drop(columns=1)

In [ ]:
titanic.Name.str.partition("E").drop(columns=1)

,0,2
0,"Braund, Mr. Owen Harris",
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",
2,"Heikkinen, Miss. Laina",
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",
4,"Allen, Mr. William Henry",
5,"Moran, Mr. James",
6,"McCarthy, Mr. Timothy J",
7,"Palsson, Master. Gosta Leonard",
8,"Johnson, Mrs. Oscar W (",lisabeth Vilhelmina Berg)
9,"Nasser, Mrs. Nicholas (Adele Achem)",
10,"Sandstrom, Miss. Marguerite Rut",
11,"Bonnell, Miss.",lizabeth
12,"Saundercock, Mr. William Henry",
13,"Andersson, Mr. Anders Johan",
14,"Vestrom, Miss. Hulda Amanda Adolfina",

In [ ]:
titanic.Name.str.slice(0, 3, 1)

In [ ]:
crash["Vehicle Make"].str.slice(0, 4, 1)

0     HINO
1     TOYO
2     MAZD
3      RAM
4     AUDI
5     MERC
6     HOND
7     FORD
8     TOYO
9     HOND
10    HOND
11    VOLK
12    HOND
13     KIA
14     BMW
Name: Vehicle Make, dtype: object

In [ ]:
titanic.Sex.replace("male", "mail").replace("female", "fe-mail")

In [ ]:
crash["Vehicle Make"].replace("TOYOTA", "MAZDA")

0           HINO
1          MAZDA
2           MAZD
3            RAM
4           AUDI
5       MERCEDES
6           HOND
7           FORD
8          MAZDA
9          HONDA
10          HOND
11    VOLKSWAGEN
12         HONDA
13           KIA
14           BMW
Name: Vehicle Make, dtype: object

In [ ]:
titanic.Name.str.isalnum()

In [ ]:
crash["Local Case Number"].str.isalnum()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
Name: Local Case Number, dtype: bool

#Summarize Data

In [ ]:
crash.describe()

In [ ]:
titanic.describe()

In [ ]:
len(titanic)

In [ ]:
len(crash)

In [ ]:
crash["Speed Limit"].value_counts()

Speed Limit
35    5
30    3
15    3
5     1
0     1
20    1
45    1
Name: count, dtype: int64

In [ ]:
titanic.Age.value_counts()

Age
35.0    2
14.0    2
38.0    1
22.0    1
26.0    1
54.0    1
2.0     1
27.0    1
4.0     1
58.0    1
20.0    1
39.0    1
Name: count, dtype: int64

In [ ]:
crash.shape

(15, 39)

In [ ]:
titanic.shape

(15, 16)

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   15 non-null     int64
 1   PassengerId  15 non-null     int64
 2   Survived     15 non-null     float64
 3   Pclass       15 non-null     int64
 4   Name         15 non-null     object
 5   Sex          15 non-null     object
 6   Age          14 non-null     float64
 7   Sibsp        15 non-null     int64
 8   Parch        15 non-null     int64
 9   Ticket       15 non-null     object
 10  Fare         15 non-null     float64
 11  Cabin        5 non-null      object
 12  Embarked     15 non-null     object
 13  Hometown     15 non-null     object
 14  Boarded      15 non-null     object
 15  Destination  15 non-null     object
dtypes: float64(3), int64(5), object(8)
memory usage: 2.0+ KB

In [ ]:
crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Report Number                  15 non-null     object
 1   Local Case Number              15 non-null     object
 2   Agency Name                    15 non-null     object
 3   ACRS Report Type               15 non-null     object
 4   Crash Date/Time                15 non-null     object
 5   Route Type                     9 non-null      object
 6   Road Name                      9 non-null      object
 7   Cross-Street Name              9 non-null      object
 8   Off-Road Description           6 non-null      object
 9   Municipality                   2 non-null      object
 10  Related Non-Motorist           2 non-null      object
 11  Collision Type                 14 non-null     object
 12  Weather                        15 non-null     object
 13  Surface Condition              9 non-null      object
 14  Light                          15 non-null     object
 15  Traffic Control                12 non-null     object
 16  Driver Substance Abuse         12 non-null     object
 17  Non-Motorist Substance Abuse   2 non-null      object
 18  Person ID                      15 non-null     object
 19  Driver At Fault                15 non-null     object
 20  Injury Severity                15 non-null     object
 21  Circumstance                   1 non-null      object
 22  Driver Distracted By           15 non-null     object
 23  Drivers License State          13 non-null     object
 24  Vehicle ID                     15 non-null     object
 25  Vehicle Damage Extent          15 non-null     object
 26  Vehicle First Impact Location  15 non-null     object
 27  Vehicle Body Type              15 non-null     object
 28  Vehicle Movement               15 non-null     object
 29  Vehicle Going Dir              14 non-null     object
 30  Speed Limit                    15 non-null     int64
 31  Driverless Vehicle             15 non-null     object
 32  Parked Vehicle                 15 non-null     object
 33  Vehicle Year                   15 non-null     int64
 34  Vehicle Make                   15 non-null     object
 35  Vehicle Model                  15 non-null     object
 36  Latitude                       15 non-null     float64
 37  Longitude                      15 non-null     float64
 38  Location                       15 non-null     object
dtypes: float64(2), int64(2), object(35)
memory usage: 4.7+ KB

In [ ]:
crash["Vehicle Make"].nunique()

12

In [ ]:
titanic.Name.nunique()

15

In [ ]:
titanic.memory_usage()

Index          132
Unnamed: 0     120
PassengerId    120
Survived       120
Pclass         120
Name           120
Sex            120
Age            120
Sibsp          120
Parch          120
Ticket         120
Fare           120
Cabin          120
Embarked       120
Hometown       120
Boarded        120
Destination    120
dtype: int64

In [ ]:
crash.memory_usage()

Index                            132
Report Number                    120
Local Case Number                120
Agency Name                      120
ACRS Report Type                 120
Crash Date/Time                  120
Route Type                       120
Road Name                        120
Cross-Street Name                120
Off-Road Description             120
Municipality                     120
Related Non-Motorist             120
Collision Type                   120
Weather                          120
Surface Condition                120
Light                            120
Traffic Control                  120
Driver Substance Abuse           120
Non-Motorist Substance Abuse     120
Person ID                        120
Driver At Fault                  120
Injury Severity                  120
Circumstance                     120
Driver Distracted By             120
Drivers License State            120
Vehicle ID                       120
Vehicle Damage Extent            120
Vehicle First Impact Location    120
Vehicle Body Type                120
Vehicle Movement                 120
Vehicle Going Dir                120
Speed Limit                      120
Driverless Vehicle               120
Parked Vehicle                   120
Vehicle Year                     120
Vehicle Make                     120
Vehicle Model                    120
Latitude                         120
Longitude                        120
Location                         120
dtype: int64

In [ ]:
crash.dtypes

Report Number                     object
Local Case Number                 object
Agency Name                       object
ACRS Report Type                  object
Crash Date/Time                   object
Route Type                        object
Road Name                         object
Cross-Street Name                 object
Off-Road Description              object
Municipality                      object
Related Non-Motorist              object
Collision Type                    object
Weather                           object
Surface Condition                 object
Light                             object
Traffic Control                   object
Driver Substance Abuse            object
Non-Motorist Substance Abuse      object
Person ID                         object
Driver At Fault                   object
Injury Severity                   object
Circumstance                      object
Driver Distracted By              object
Drivers License State             object
Vehicle ID                        object
Vehicle Damage Extent             object
Vehicle First Impact Location     object
Vehicle Body Type                 object
Vehicle Movement                  object
Vehicle Going Dir                 object
Speed Limit                        int64
Driverless Vehicle                object
Parked Vehicle                    object
Vehicle Year                       int64
Vehicle Make                      object
Vehicle Model                     object
Latitude                         float64
Longitude                        float64
Location                          object
dtype: object

In [ ]:
titanic.dtypes

Unnamed: 0       int64
PassengerId      int64
Survived       float64
Pclass           int64
Name            object
Sex             object
Age            float64
Sibsp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Hometown        object
Boarded         object
Destination     object
dtype: object

In [ ]:
titanic.Age.mean()

45

In [ ]:
crash["Speed Limit"].mean()

np.float64(25.333333333333332)

In [ ]:
titanic.Age.sum()

np.float64(388.0)

In [ ]:
crash["Speed Limit"].sum()

np.int64(380)

In [ ]:
titanic.Age.min()

2.0

In [ ]:
crash["Speed Limit"].min()

0

In [ ]:
titanic.Age.max()

58.0

In [ ]:
crash["Speed Limit"].max()

45

In [ ]:
titanic.Age.var()

280.2197802197802

In [ ]:
crash["Speed Limit"].var()

165.952380952381

In [ ]:
titanic.Age.std()

16.73976643265312

In [ ]:
crash["Speed Limit"].std()

12.882250616735455

In [ ]:
titanic.Age.median()

26.5

In [ ]:
crash["Speed Limit"].median()

30.0

In [ ]:
crash["Speed Limit"].mode()

0    35
Name: Speed Limit, dtype: int64

In [ ]:
titanic.Age.mode()

0    14.0
1    35.0
Name: Age, dtype: float64