<a href="https://colab.research.google.com/github/atletlgomez/titanic_and_crash/blob/main/Titanic_and_Crash_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
pd.set_option('display.max_rows', 15)

#Import

In [8]:
titanic = pd.read_csv("//content/titanic.csv")

In [9]:
crash = pd.read_csv("/content/crash.csv", index_col=False)

/tmp/ipython-input-9-2738095758.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  crash = pd.read_csv("/content/crash.csv", index_col=False)

#df.head()

In [10]:
titanic.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City

In [11]:
crash.head()

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,West,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"

# **Reshaping Data**

###melt

In [12]:
titanic.melt(var_name="New Col", value_name="same vals")

           New Col               same vals
0       Unnamed: 0                       0
1       Unnamed: 0                       1
2       Unnamed: 0                       2
3       Unnamed: 0                       3
4       Unnamed: 0                       4
...            ...                     ...
20939  Destination           New York City
20940  Destination  New York, New York, US
20941  Destination                      US
20942  Destination           New York City
20943  Destination   Detroit, Michigan, US

[20944 rows x 2 columns]

In [13]:
crash.melt(var_name = "Old Col", value_name = "New Values")

               Old Col                   New Values
0        Report Number                   DM8479000T
1        Report Number                  MCP2970000R
2        Report Number                  MCP20160036
3        Report Number                   EJ7879003C
4        Report Number                  MCP2967004Y
...                ...                          ...
1319365       Location     (39.05429167, -77.14315)
1319366       Location  (38.98150667, -76.99572667)
1319367       Location  (38.98637333, -76.98794833)
1319368       Location  (39.00378197, -77.07776874)
1319369       Location                          NaN

[1319370 rows x 2 columns]

Every column became a row

###pivot

In [14]:
titanic.pivot(columns="Pclass", values="Name").apply(lambda x: x.fillna("No Name"))

Pclass,1,2,3
0,No Name,No Name,"Braund, Mr. Owen Harris"
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",No Name,No Name
2,No Name,No Name,"Heikkinen, Miss. Laina"
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",No Name,No Name
4,No Name,No Name,"Allen, Mr. William Henry"
...,...,...,...
1304,No Name,No Name,"Spector, Mr. Woolf"
1305,"Oliva y Ocana, Dona. Fermina",No Name,No Name
1306,No Name,No Name,"Saether, Mr. Simon Sivertsen"
1307,No Name,No Name,"Ware, Mr. Frederick"
1308,No Name,No Name,"Peter, Master. Michael J"

Titanic is pivoted, Pclass values are now the columns, Name are now the values

In [15]:
crash.pivot(values = "Vehicle Year", columns = "Parked Vehicle").fillna("No Vehicle")

Parked Vehicle         NaN          No         Yes
0               No Vehicle  No Vehicle      2017.0
1               No Vehicle      2012.0  No Vehicle
2               No Vehicle      2015.0  No Vehicle
3               No Vehicle      2018.0  No Vehicle
4               No Vehicle      2017.0  No Vehicle
...                    ...         ...         ...
33825           No Vehicle      2003.0  No Vehicle
33826           No Vehicle      2007.0  No Vehicle
33827           No Vehicle      2017.0  No Vehicle
33828           No Vehicle      2015.0  No Vehicle
33829           No Vehicle  No Vehicle  No Vehicle

[33830 rows x 3 columns]

###concat

In [16]:
American = titanic.Hometown.str.contains("US").rename("American").reset_index()
American.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     1309 non-null   int64
 1   American  1304 non-null   object
dtypes: int64(1), object(1)
memory usage: 20.6+ KB

In [17]:
pd.concat([titanic, American], axis=1)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination,index,American
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",0,False
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US",1,True
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City,2,False
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",3,True
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City,1304,False
1305,1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US",1305,False
1306,1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US,1306,False
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City,1307,False
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",1308,False

In [18]:
new_col = crash["Agency Name"].str.contains("Police").rename("Police Affiliated")
pd.concat([crash, new_col], axis=1)

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location,Police Affiliated
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)",True
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)",False
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)",True
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)",True
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)",True
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)",True
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)",True
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)",True
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

created a seperate data frame to display true or false if their hometown has "US", remerged them

###sort values

In [19]:
titanic.sort_values(by=["Age", "PassengerId"], ascending=[False, True])

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
630,630,631,1.0,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,"Hessle, East Yorkshire, England, UK",Southampton,"New York, New York, US"
987,987,988,NaN,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,"London, England, UK",Southampton,"New York, New York, US"
851,851,852,0.0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S,"Reftele, Småland, Sweden",Southampton,"Effington Rut, South Dakota, US"
96,96,97,0.0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,"New York, New York, US",Cherbourg,"New York, New York, US"
493,493,494,0.0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,"Buenos Aires, Argentina",Cherbourg,"New York, New York, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,1299,1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,"Glenlougha, Cork, Ireland",Queenstown,New York City
1301,1301,1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,"Donoughmore, Ireland",Queenstown,New York City
1304,1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [20]:
crash.sort_values(by ="Vehicle Year")

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
2904,MCP2830004M,190024807,Montgomery County Police,Property Damage Crash,05/24/2019 08:58:00 PM,NaN,NaN,NaN,PARKING LOT OF 9639 LOST KNIFE RD GAITHERSBURG...,NaN,...,Unknown,0.0,No,No,0.0,UNKNOWN,UNKNOWN,39.154075,-77.197148,"(39.154075, -77.19714833)"
6731,DM85150007,230060760,Takoma Park Police Depart,Property Damage Crash,10/15/2023 10:06:00 PM,NaN,8300 FLOWER AVE,700 WABASH AVE,NaN,NaN,...,South,25.0,No,No,0.0,UNKNOWN,UNKNOWN,38.993454,-77.002233,"(38.99345363, -77.00223317)"
17694,MCP3171001G,210003908,Montgomery County Police,Injury Crash,01/29/2021 11:00:00 PM,Maryland (State),GREAT SENECA HWY,MIDDLEBROOK RD,NaN,NaN,...,East,40.0,No,No,0.0,UNKNOWN,UNKNOWN,39.173908,-77.261528,"(39.17390833, -77.26152833)"
22070,MCP3188000T,190030731,Montgomery County Police,Property Damage Crash,06/27/2019 04:45:00 PM,County,ELLINGSON DR,ROSS RD,NaN,NaN,...,South,25.0,No,No,0.0,UNKNOWN,UNKNOWN,38.994111,-77.055976,"(38.99411137, -77.05597564)"
22078,MCP271700C0,170507914,Montgomery County Police,Property Damage Crash,05/15/2017 04:10:00 PM,Maryland (State),BRADLEY BLVD,EWING DR,NaN,NaN,...,South,30.0,No,No,0.0,UNKNOWN,UNKNOWN,38.994514,-77.123065,"(38.994514, -77.12306533)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24715,MCP2664001G,15057077,MONTGOMERY,Property Damage Crash,11/09/2015 09:50:00 AM,Maryland (State),VEIRS MILL RD,NEWPORT MILL RD,NaN,NaN,...,East,40.0,No,No,9999.0,UNKNOWN,UNKNOWN,39.044827,-77.065412,"(39.04482667, -77.06541167)"
16167,MCP2765004L,180033036,Montgomery County Police,Property Damage Crash,07/04/2018 06:00:00 PM,County,DECLARATION LA,SEVEN LOCKS RD,NaN,NaN,...,West,25.0,No,No,9999.0,CADILLAC,SUV,39.044577,-77.160650,"(39.04457669, -77.16065034)"
29228,MCP30900018,180043017,Montgomery County Police,Property Damage Crash,08/29/2018 09:34:00 AM,Maryland (State),GREAT SENECA HWY,HORN POINT DR,NaN,NaN,...,North,50.0,No,No,9999.0,NaN,NaN,39.136859,-77.252422,"(39.13685911, -77.25242152)"
22948,MCP1500001R,190053468,Montgomery County Police,Injury Crash,11/05/2019 09:00:00 PM,NaN,NaN,NaN,"PARKING LOT OF 2509 UNIVERSITY BLVD WEST, SILV...",NaN,...,South,10.0,No,No,9999.0,UU,UU,39.041644,-77.052092,"(39.04164357, -77.05209187)"
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###rename

In [21]:
titanic.rename(
    columns = {
        "Fare" : "Price"
    }
)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Price,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City
1305,1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

renamed fare to price

In [22]:
crash.rename(columns={
    "Vehicle Going Dir": "Direction"
})

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Direction,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,West,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,West,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)"
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,South,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)"
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,North,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)"
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,South,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)"
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###sort index

In [23]:
titanic.sort_index()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City
1305,1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [24]:
crash.sort_index()

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,West,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,West,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)"
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,South,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)"
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,North,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)"
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,South,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)"
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###reset index

In [25]:
titanic[["Name", "Age"]].reset_index()

      index                                               Name   Age
0         0                            Braund, Mr. Owen Harris  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2         2                             Heikkinen, Miss. Laina  26.0
3         3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4         4                           Allen, Mr. William Henry  35.0
...     ...                                                ...   ...
1304   1304                                 Spector, Mr. Woolf   NaN
1305   1305                       Oliva y Ocana, Dona. Fermina  39.0
1306   1306                       Saether, Mr. Simon Sivertsen  38.5
1307   1307                                Ware, Mr. Frederick   NaN
1308   1308                           Peter, Master. Michael J   NaN

[1309 rows x 3 columns]

creates index and also converts series to dataframe

In [26]:
crash[["Agency Name", "Vehicle Year"]].reset_index()

       index                Agency Name  Vehicle Year
0          0  Takoma Park Police Depart        2017.0
1          1                 MONTGOMERY        2012.0
2          2   Montgomery County Police        2015.0
3          3  Gaithersburg Police Depar        2018.0
4          4   Montgomery County Police        2017.0
...      ...                        ...           ...
33825  33825   Montgomery County Police        2003.0
33826  33826  Takoma Park Police Depart        2007.0
33827  33827  Takoma Park Police Depart        2017.0
33828  33828   Montgomery County Police        2015.0
33829  33829   Montgomery County Police           NaN

[33830 rows x 3 columns]

###drop

In [27]:
titanic.drop(columns=["Unnamed: 0"])

,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

dropped the column that caused a double index

In [28]:
crash.drop(columns=["Route Type"])

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Road Name,Cross-Street Name,Off-Road Description,Municipality,Related Non-Motorist,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,IN PARKING LOT,NaN,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,NaN,...,West,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,1 N SUMMIT DRIVE,NaN,PEDESTRIAN,...,Unknown,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,NaN,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,MONTROSE RD,HITCHING POST LA,NaN,NaN,NaN,...,West,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)"
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,NaN,...,South,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)"
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,NaN,...,North,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)"
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,NaN,...,South,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)"
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#**Subset Observations - rows**

In [29]:
titanic[titanic.Age > 30]

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City
6,6,7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"Dorchester, Massachusetts, US",Southampton,"Dorchester, Massachusetts, US"
11,11,12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,"Youngstown, Ohio, US",Southampton,"Youngstown, Ohio, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,1295,1296,NaN,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,"London, England, UK",Southampton,"New York, New York, US"
1298,1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US"
1302,1302,1303,NaN,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,"Fond du Lac, Wisconsin, US",Southampton,"Fond du Lac, Wisconsin, US"
1305,1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US

In [30]:
crash[crash["Speed Limit"] > 15]

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"
5,MCP3348000Z,230051804,Montgomery County Police,Injury Crash,08/28/2023 11:09:00 AM,Maryland (State),NORBECK RD,DRURY RD,NaN,NaN,...,East,30.0,No,No,2010.0,MERCEDES,ML360,39.116462,-77.050530,"(39.11646167, -77.05053)"
6,MCP302600BD,230046425,Montgomery County Police,Property Damage Crash,07/27/2023 12:30:00 PM,County,GREENTREE RD,OLD GEORGETOWN RD,NaN,NaN,...,East,30.0,No,No,2022.0,HOND,PILOT,39.000144,-77.109881,"(39.00014446, -77.10988077)"
7,MCP2583003S,230074198,Montgomery County Police,Injury Crash,12/29/2023 04:40:00 PM,County,ELMER SCHOOL RD,CLUB HOLLOW RD,NaN,NaN,...,West,30.0,No,No,2005.0,FORD,EXPLORER,39.140092,-77.484022,"(39.14009241, -77.48402152)"
8,MCP3372001V,230065250,Montgomery County Police,Property Damage Crash,11/10/2023 08:24:00 PM,Maryland (State),GEORGIA AVE,MAY ST,NaN,NaN,...,South,35.0,No,No,2016.0,TOYOTA,CAMRY,39.072460,-77.064860,"(39.0724598, -77.06486034)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33824,MCP1453004N,170530480,Montgomery County Police,Property Damage Crash,09/14/2017 07:19:00 AM,Maryland (State),WOODFIELD RD,MT VERNON AVE,NaN,NaN,...,East,30.0,No,No,2014.0,CHEV,SONIC,39.283665,-77.201687,"(39.283665, -77.20168667)"
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,West,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)"
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,South,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)"
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,North,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)"
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,South,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)"

###drop duplicates

In [31]:
titanic.Age.drop_duplicates()

0       22.00
1       38.00
2       26.00
3       35.00
5         NaN
        ...
1043    60.50
1083    11.50
1092     0.33
1245     0.17
1306    38.50
Name: Age, Length: 99, dtype: float64

In [32]:
crash["Vehicle Year"].drop_duplicates().sort_values()

23          0.0
17026       3.0
32611      13.0
3939       99.0
14069     200.0
          ...
20203    2918.0
23186    2996.0
6367     8888.0
709      9999.0
33829       NaN
Name: Vehicle Year, Length: 77, dtype: float64

###Sample

In [33]:
titanic.sample(frac=0.5)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
514,514,515,0.0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,NaN,S,"Debnevo, Troyan, Bulgaria",Southampton,"Chicago, Illinois, US"
149,149,150,0.0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S,"London, England",Southampton,"Jacksonville, Florida, US"
288,288,289,1.0,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.0000,NaN,S,"Tokyo, Japan",Southampton,"Tokyo, Japan"
615,615,616,1.0,2,"Herman, Miss. Alice",female,24.0,1,2,220845,65.0000,NaN,S,"Yeovil, Somerset, England",Southampton,"Bernardsville, New Jersey, US"
1132,1132,1133,NaN,2,"Christy, Mrs. (Alice Frances)",female,45.0,0,2,237789,30.0000,NaN,S,"London, England, UK",Southampton,"Montreal, Quebec, Canada"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,591,592,1.0,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C,"Paris, France",Cherbourg,"Haverford, Pennsylvania, US"
869,869,870,1.0,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,"St. Charles, Illinois, US",Southampton,"St. Charles, Illinois, US"
752,752,753,0.0,3,"Vande Velde, Mr. Johannes Joseph",male,33.0,0,0,345780,9.5000,NaN,S,"Denderhoutem, Belgium",Southampton,New York City
264,264,265,0.0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q,"Clonown, Roscommon, Ireland",Queenstown,"Boston, Massachusetts, US"
284,284,285,0.0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S,"Streatham, London, England, UK",Southampton,"New York, New York, US"

In [34]:
crash.sample(13)

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
32248,MCP2687000T,15017106,Montgomery County Police,Injury Crash,04/13/2015 04:13:00 PM,Maryland (State),FALLS RD,DEMOCRACY BLVD,NaN,NaN,...,North,30.0,No,No,2014.0,NISSAN,ROGUE,39.027819,-77.202215,"(39.02781886, -77.20221519)"
7348,MCP3220004G,230069349,Montgomery County Police,Property Damage Crash,12/01/2023 04:34:00 PM,Maryland (State),FREDERICK RD,S WESTLAND DR,NaN,GAITHERSBURG,...,South,35.0,No,No,2013.0,NISSAN,ALTIMA,39.123669,-77.179377,"(39.12366867, -77.17937717)"
15597,MCP30050026,170511119,Montgomery County Police,Injury Crash,06/01/2017 01:49:00 PM,Maryland (State),GEORGIA AVE,WINDHAM LA,NaN,NaN,...,North,35.0,No,No,1995.0,TOYT,4S,39.031849,-77.048235,"(39.03184852, -77.04823494)"
23676,MCP1334006Q,180028782,Montgomery County Police,Injury Crash,06/11/2018 09:35:00 AM,Maryland (State),QUINCE ORCHARD RD,FIRSTFIELD RD,NaN,GAITHERSBURG,...,South,35.0,No,No,2013.0,CHRYSLER,TOWN COUNTRY,39.144889,-77.220047,"(39.14488942, -77.22004652)"
23699,MCP2753002L,170514219,Montgomery County Police,Property Damage Crash,06/17/2017 11:53:00 AM,County,BONIFANT RD,LAYHILL RD,NaN,NaN,...,West,40.0,No,No,2006.0,TOYT,TK,39.091173,-77.043410,"(39.09117333, -77.04341)"
23657,MCP2667001P,15063040,MONTGOMERY,Property Damage Crash,12/10/2015 07:43:00 AM,Maryland (State),MUNCASTER MILL RD,SABRINA TERR,NaN,NaN,...,East,35.0,No,No,2007.0,THOMAS,SCHOOL BUS,39.145182,-77.143143,"(39.14518167, -77.14314333)"
12871,MCP3123005B,230016065,Montgomery County Police,Property Damage Crash,04/04/2023 10:54:00 AM,Maryland (State),KEY WEST AVE,ENT TO BUSINESS,NaN,NaN,...,West,35.0,No,No,2013.0,SUBARU,OUTBACK,39.104453,-77.192422,"(39.10445308, -77.19242152)"
5053,MCP3325002M,230072812,Montgomery County Police,Property Damage Crash,12/20/2023 05:20:00 PM,US (State),COLUMBIA PIKE,FAIRLAND RD,NaN,NaN,...,West,35.0,No,No,2020.0,TOYT,UT,39.073349,-76.955435,"(39.073349, -76.95543467)"
31095,MCP32440008,200022777,Montgomery County Police,Property Damage Crash,06/10/2020 09:20:00 AM,Maryland (State),CLOPPER RD,FIRSTFIELD RD,NaN,GAITHERSBURG,...,East,35.0,No,No,2011.0,TOYOTA,4RUNNER,39.143799,-77.223894,"(39.14379933, -77.22389433)"
16345,MCP2678001C,170503658,Montgomery County Police,Property Damage Crash,04/23/2017 12:03:00 AM,Maryland (State),LAYHILL RD,BRIGGS RD,NaN,NaN,...,South,45.0,No,No,2016.0,TOYOTA,CAMRY,39.068840,-77.046150,"(39.06884, -77.04615)"
33016,MCP9386008P,210020005,Montgomery County Police,Property Damage Crash,05/27/2021 05:35:00 AM,Maryland (State),MASSACHUSETTS AVE,GOLDSBORO RD,NaN,NaN,...,East,35.0,No,No,2010.0,APRILLA,MOTORCYCLE,38.967530,-77.126901,"(38.96752983, -77.1269005)"
6251,MCP2269002L,230054173,Montgomery County Police,Injury Crash,09/11/2023 07:27:00 AM,County,OAKMONT AVE,SHADY GROVE RD,NaN,NaN,...,East,25.0,No,No,2016.0,FRHT,ST,39.127933,-77.174167,"(39.12793306, -77.1741671)"
1209,MCP3180003N,230049652,Montgomery County Police,Property Damage Crash,08/15/2023 08:25:00 PM,County,HINES RD,LAFAYETTE DR,NaN,NaN,...,South,35.0,No,No,2018.0,CHEVY,EQUINOX,39.141743,-77.075270,"(39.14174333, -77.07527)"

In [35]:
titanic.sample(50)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
78,78,79,1.0,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S,"Bangkok, Siam",Southampton,"Roseville, Illinois, US"
626,626,627,0.0,2,"Kirkland, Rev. Charles Leonard",male,57.00,0,0,219533,12.3500,NaN,Q,"Glasgow, Scotland",Queenstown,"Tuxford, Saskatchewan, Canada"
958,958,959,NaN,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S,"Washington, DC, US",Southampton,"Washington, DC, US"
351,351,352,0.0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S,"London, England, UK",Southampton,"Newark, New Jersey, US"
157,157,158,0.0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S,"London, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,876,877,0.0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,0,0,7534,9.8458,NaN,S,"Kokkola, Finland",Southampton,"Waukegan, Illinois, US"
1056,1056,1057,NaN,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S,"Zürich, Switzerland",Southampton,"Milwaukee, Wisconsin, US"
880,880,881,1.0,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.00,0,1,230433,26.0000,NaN,S,"Deer Lodge, Montana, US",Southampton,"Deer Lodge, Montana, US"
798,798,799,0.0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,0,0,2685,7.2292,NaN,C,"Beirut, Lebanon",Cherbourg,New York City
722,722,723,0.0,2,"Gillespie, Mr. William Henry",male,34.00,0,0,12233,13.0000,NaN,S,"Abbeyleix, Laois, Ireland[note 1]",Southampton,"Vancouver, British Columbia, Canada"

sampled 50 random rows

###nLargest & nSmallest

In [36]:
titanic.nlargest(5, "Age")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
630,630,631,1.0,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,"Hessle, East Yorkshire, England, UK",Southampton,"New York, New York, US"
987,987,988,NaN,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,"London, England, UK",Southampton,"New York, New York, US"
851,851,852,0.0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S,"Reftele, Småland, Sweden",Southampton,"Effington Rut, South Dakota, US"
96,96,97,0.0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,"New York, New York, US",Cherbourg,"New York, New York, US"
493,493,494,0.0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,"Buenos Aires, Argentina",Cherbourg,"New York, New York, US"

displays 5 with the largest values in Age

In [37]:
titanic.nsmallest(5, "Fare")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
179,179,180,0.0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,"New York City, New York, US",Southampton,New York City
263,263,264,0.0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,"Wallasey, Merseyside, England, UK",Southampton,"New York, New York, US"
271,271,272,1.0,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,"Sundbyberg, Sweden",Southampton,New York City
277,277,278,0.0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S,"Belfast, Ireland",Belfast,New York City
302,302,303,0.0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,"Hawthorne, New Jersey, US",Southampton,New York City

In [38]:
crash.nsmallest(3, "Speed Limit")

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
50,DD56120041,230049400,Rockville Police Departme,Injury Crash,08/14/2023 01:45:00 PM,Municipality,CONGRESSIONAL LA,ROCKVILLE PIKE,NaN,NaN,...,East,0.0,No,No,2011.0,TOYT,SU,39.064280,-77.126140,"(39.06428, -77.12614)"
77,MCP3309000R,220016828,Montgomery County Police,Property Damage Crash,04/20/2022 05:05:00 PM,NaN,NaN,NaN,"7919 TUCKERMAN LA, POTOMAC, MD 20854 PARKING L...",NaN,...,NaN,0.0,No,Yes,0.0,UNKNOWN,UNKNOWN,39.040846,-77.157642,"(39.04084608, -77.15764207)"

In [39]:
crash.nlargest(3, "Speed Limit")

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
3811,MCP31760029,230057623,Montgomery County Police,Property Damage Crash,09/30/2023 03:19:00 AM,Maryland (State),GEORGIA AVE,CAMERON ST,NaN,NaN,...,South,75.0,No,No,2011.0,HYUNDAI,SONADA,38.997604,-77.029899,"(38.99760358, -77.02989858)"
21808,DM8490002K,230009151,Takoma Park Police Depart,Property Damage Crash,02/23/2023 05:12:00 PM,Municipality,HOLTON LA,WILDWOOD DR,NaN,TAKOMA PARK,...,East,70.0,No,No,2017.0,HYUNDAI,ELANTRA,38.985782,-76.990016,"(38.985782, -76.990016)"
145,MCP31600022,190042624,Montgomery County Police,Property Damage Crash,09/06/2019 07:00:00 PM,Ramp,RAMP 6 FR CLARA BARTON PKWY TO IS 495 SB,CLARA BARTON PKWY,NaN,NaN,...,West,65.0,No,No,2018.0,CHEVROLET,4D,39.024648,-77.126902,"(39.02464833, -77.12690167)"

###head and tail

In [40]:
titanic.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City

displays the first five valules in the data frame

In [41]:
titanic.tail(2)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [42]:
crash.head(2)

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"

In [43]:
crash.tail(2)

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,South,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)"
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#**Subset Variables - columns**

In [44]:
titanic[["PassengerId", "Name", "Sex"]]

      PassengerId                                               Name     Sex
0               1                            Braund, Mr. Owen Harris    male
1               2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2               3                             Heikkinen, Miss. Laina  female
3               4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4               5                           Allen, Mr. William Henry    male
...           ...                                                ...     ...
1304         1305                                 Spector, Mr. Woolf    male
1305         1306                       Oliva y Ocana, Dona. Fermina  female
1306         1307                       Saether, Mr. Simon Sivertsen    male
1307         1308                                Ware, Mr. Frederick    male
1308         1309                           Peter, Master. Michael J    male

[1309 rows x 3 columns]

In [45]:
crash[["Speed Limit", "Vehicle Make"]]

       Speed Limit Vehicle Make
0              0.0         HINO
1              5.0       TOYOTA
2             15.0         MAZD
3             15.0          RAM
4             35.0         AUDI
...            ...          ...
33825         35.0   MITSUBISHI
33826         20.0       THOMAS
33827         35.0       NISSAN
33828         35.0       TOYOTA
33829          NaN          NaN

[33830 rows x 2 columns]

###filter

In [46]:
titanic.filter(regex = "N")

                                                   Name
0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
...                                                 ...
1304                                 Spector, Mr. Woolf
1305                       Oliva y Ocana, Dona. Fermina
1306                       Saether, Mr. Simon Sivertsen
1307                                Ware, Mr. Frederick
1308                           Peter, Master. Michael J

[1309 rows x 1 columns]

In [47]:
crash["Speed Limit"].filter(regex = "1")

1         5.0
10       35.0
11       20.0
12       15.0
13       35.0
         ...
33816    40.0
33817    25.0
33818    35.0
33819    35.0
33821    35.0
Name: Speed Limit, Length: 18665, dtype: float64

#**Using Query**

In [48]:
titanic.query("Age > 45")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
6,6,7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"Dorchester, Massachusetts, US",Southampton,"Dorchester, Massachusetts, US"
11,11,12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,"Youngstown, Ohio, US",Southampton,"Youngstown, Ohio, US"
15,15,16,1.0,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,"Lucknow, British India, UK[note 3]",Southampton,"Rapid City, South Dakota, US"
33,33,34,0.0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,"Guernsey, Channel Islands",Southampton,"Edgewood, Rhode Island, US"
52,52,53,1.0,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,"New York, New York, US",Cherbourg,"New York, New York, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,1278,1279,NaN,2,"Ashby, Mr. John",male,57.0,0,0,244346,13.0000,NaN,S,"West Hoboken, New Jersey, US",Southampton,"West Hoboken, New Jersey, US"
1282,1282,1283,NaN,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,"Paris, France",Cherbourg,"Hanover, New Hampshire, US"
1284,1284,1285,NaN,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,"Carleens, Cornwall, England",Southampton,"Butte, Montana, US"
1288,1288,1289,NaN,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,"Zürich, Switzerland",Cherbourg,"New York, New York, US"
1298,1298,1299,NaN,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US"

In [49]:
crash.query("`Vehicle Year` > 2015")

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,Unknown,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)"
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,South,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)"
6,MCP302600BD,230046425,Montgomery County Police,Property Damage Crash,07/27/2023 12:30:00 PM,County,GREENTREE RD,OLD GEORGETOWN RD,NaN,NaN,...,East,30.0,No,No,2022.0,HOND,PILOT,39.000144,-77.109881,"(39.00014446, -77.10988077)"
8,MCP3372001V,230065250,Montgomery County Police,Property Damage Crash,11/10/2023 08:24:00 PM,Maryland (State),GEORGIA AVE,MAY ST,NaN,NaN,...,South,35.0,No,No,2016.0,TOYOTA,CAMRY,39.072460,-77.064860,"(39.0724598, -77.06486034)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33790,MCP2231006R,220043787,Montgomery County Police,Property Damage Crash,10/07/2022 08:01:00 AM,Maryland (State),QUINCE ORCHARD RD,SPUR TO MD 117,NaN,NaN,...,North,25.0,No,No,2017.0,TOYOTA,CAMRY,39.142482,-77.220697,"(39.14248167, -77.22069667)"
33807,MCP32870019,210024578,Montgomery County Police,Injury Crash,06/26/2021 09:36:00 PM,Maryland (State),GEORGIA AVE,BEL PRE RD,NaN,NaN,...,South,45.0,No,No,2020.0,CHEVY,EQUINOX,39.093177,-77.079710,"(39.09317667, -77.07971)"
33821,MCP3084006C,220054034,Montgomery County Police,Injury Crash,12/07/2022 10:56:00 AM,County,GROSVENOR LA,ROCKVILLE PIKE,NaN,NaN,...,West,35.0,No,No,2022.0,LINC,CORSAIR,39.022283,-77.102787,"(39.02228333, -77.10278667)"
33823,MCP2850001R,210013350,Montgomery County Police,Injury Crash,04/10/2021 01:16:00 AM,Maryland (State),FREDERICK RD,MONTGOMERY VILLAGE AVE,NaN,NaN,...,North,35.0,No,No,2017.0,HONDA,SD,39.152350,-77.212222,"(39.15235, -77.21222167)"
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,North,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)"

#**Subset - rows and columns**

###loc and iloc

In [50]:
titanic.iloc[0:5, 0:3]

   Unnamed: 0  PassengerId  Survived
0           0            1       0.0
1           1            2       1.0
2           2            3       1.0
3           3            4       1.0
4           4            5       0.0

displays the first five rows and the first three columns

In [51]:
titanic.loc[:, "Name":"Age"]

                                                   Name     Sex   Age
0                               Braund, Mr. Owen Harris    male  22.0
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                                Heikkinen, Miss. Laina  female  26.0
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                              Allen, Mr. William Henry    male  35.0
...                                                 ...     ...   ...
1304                                 Spector, Mr. Woolf    male   NaN
1305                       Oliva y Ocana, Dona. Fermina  female  39.0
1306                       Saether, Mr. Simon Sivertsen    male  38.5
1307                                Ware, Mr. Frederick    male   NaN
1308                           Peter, Master. Michael J    male   NaN

[1309 rows x 3 columns]

In [52]:
crash.loc[:, "Speed Limit":"Vehicle Make"]

,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make
0,0.0,No,Yes,2017.0,HINO
1,5.0,No,No,2012.0,TOYOTA
2,15.0,No,No,2015.0,MAZD
3,15.0,No,No,2018.0,RAM
4,35.0,No,No,2017.0,AUDI
...,...,...,...,...,...
33825,35.0,No,No,2003.0,MITSUBISHI
33826,20.0,No,No,2007.0,THOMAS
33827,35.0,No,No,2017.0,NISSAN
33828,35.0,No,No,2015.0,TOYOTA
33829,NaN,NaN,NaN,NaN,NaN

In [53]:
crash.iloc[:, 0:2]

      Report Number Local Case Number
0        DM8479000T         210020119
1       MCP2970000R          15045937
2       MCP20160036         180040948
3        EJ7879003C         230048975
4       MCP2967004Y         230070277
...             ...               ...
33825   MCP209400BB         180017998
33826    DM8386000R         170507911
33827    DM84210022         190007907
33828   MCP0936002F         170529107
33829   MCP21420006         220009711

[33830 rows x 2 columns]

###iat and at

In [54]:
titanic.iat[3,4]

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [55]:
crash.iat[4,5]

'Maryland (State)'

In [56]:
titanic.at[77, "Sex"]

'male'

In [57]:
crash.at[104, "Speed Limit"]

np.float64(35.0)

displays gender value of 77 index

#**Group Data**

###groupby

In [58]:
titanic.groupby("Name")["Age"].mean()

Name
Abbing, Mr. Anthony                              42.0
Abbott, Master. Eugene Joseph                    13.0
Abbott, Mr. Rossmore Edward                      16.0
Abbott, Mrs. Stanton (Rosa Hunt)                 35.0
Abelseth, Miss. Karen Marie                      16.0
                                                 ...
del Carlo, Mrs. Sebastiano (Argenia Genovesi)    24.0
van Billiard, Master. James William               NaN
van Billiard, Master. Walter John                11.5
van Billiard, Mr. Austin Blyler                  40.5
van Melkebeke, Mr. Philemon                       NaN
Name: Age, Length: 1307, dtype: float64

In [59]:
titanic.groupby(level=0)["Fare"].min()

0         7.2500
1        71.2833
2         7.9250
3        53.1000
4         8.0500
          ...
1304      8.0500
1305    108.9000
1306      7.2500
1307      8.0500
1308     22.3583
Name: Fare, Length: 1309, dtype: float64

In [60]:
crash.groupby("Vehicle Model")["Speed Limit"].max()

Vehicle Model
(TK)         40.0
00           45.0
000          30.0
101          15.0
104          30.0
             ...
[4D]         15.0
[4S]         35.0
[TK]         40.0
[UNKNOWN]    45.0
[UT]         40.0
Name: Speed Limit, Length: 2385, dtype: float64

###Shift

In [61]:
titanic["Fare"].shift(-3)

0       53.1000
1        8.0500
2        8.4583
3       51.8625
4       21.0750
         ...
1304     8.0500
1305    22.3583
1306        NaN
1307        NaN
1308        NaN
Name: Fare, Length: 1309, dtype: float64

In [62]:
crash.shift(3)

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Vehicle Going Dir,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location
0,None,None,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,NaN,NaN,None
3,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,NaN,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)"
4,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,South,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP2082002K,220013169,Montgomery County Police,Injury Crash,03/27/2022 10:16:00 PM,Maryland (State),GEORGIA AVE,WINDHAM LA,NaN,NaN,...,South,35.0,No,No,0.0,UNKNOWN,UNKNOWN,39.031548,-77.048037,"(39.03154833, -77.04803667)"
33826,MCP2850001R,210013350,Montgomery County Police,Injury Crash,04/10/2021 01:16:00 AM,Maryland (State),FREDERICK RD,MONTGOMERY VILLAGE AVE,NaN,NaN,...,North,35.0,No,No,2017.0,HONDA,SD,39.152350,-77.212222,"(39.15235, -77.21222167)"
33827,MCP1453004N,170530480,Montgomery County Police,Property Damage Crash,09/14/2017 07:19:00 AM,Maryland (State),WOODFIELD RD,MT VERNON AVE,NaN,NaN,...,East,30.0,No,No,2014.0,CHEV,SONIC,39.283665,-77.201687,"(39.283665, -77.20168667)"
33828,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,West,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)"
33829,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,South,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)"

###rank

In [63]:
titanic["Age"].rank(method="min")

0       291.0
1       767.0
2       444.0
3       702.0
4       702.0
        ...
1304      NaN
1305    782.0
1306    781.0
1307      NaN
1308      NaN
Name: Age, Length: 1309, dtype: float64

In [64]:
crash["Vehicle Year"].rank()

0        27095.5
1        16416.5
2        22762.0
3        28801.0
4        27095.5
          ...
33825     4586.5
33826     9196.5
33827    27095.5
33828    22762.0
33829        NaN
Name: Vehicle Year, Length: 33830, dtype: float64

In [65]:
titanic.Age.cumsum()

0          22.00
1          60.00
2          86.00
3         121.00
4         156.00
          ...
1304         NaN
1305    31217.17
1306    31255.67
1307         NaN
1308         NaN
Name: Age, Length: 1309, dtype: float64

In [66]:
crash["Speed Limit"].cumsum()

0              0.0
1              5.0
2             20.0
3             35.0
4             70.0
           ...
33825    1090640.0
33826    1090660.0
33827    1090695.0
33828    1090730.0
33829          NaN
Name: Speed Limit, Length: 33830, dtype: float64

In [67]:
titanic.Age.cummax()

0       22.0
1       38.0
2       38.0
3       38.0
4       38.0
        ...
1304     NaN
1305    80.0
1306    80.0
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

In [68]:
crash["Speed Limit"].cummax()

0         0.0
1         5.0
2        15.0
3        15.0
4        35.0
         ...
33825    75.0
33826    75.0
33827    75.0
33828    75.0
33829     NaN
Name: Speed Limit, Length: 33830, dtype: float64

In [69]:
titanic.Age.cummin()

0       22.00
1       22.00
2       22.00
3       22.00
4       22.00
        ...
1304      NaN
1305     0.17
1306     0.17
1307      NaN
1308      NaN
Name: Age, Length: 1309, dtype: float64

In [70]:
crash["Speed Limit"].cummin()

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33825    0.0
33826    0.0
33827    0.0
33828    0.0
33829    NaN
Name: Speed Limit, Length: 33830, dtype: float64

In [71]:
titanic.Age.cumprod()

/usr/local/lib/python3.11/dist-packages/numpy/_core/fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

0             22.0
1            836.0
2          21736.0
3         760760.0
4       26626600.0
           ...
1304           NaN
1305           inf
1306           inf
1307           NaN
1308           NaN
Name: Age, Length: 1309, dtype: float64

In [72]:
crash["Speed Limit"].cumprod()

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
33825    0.0
33826    0.0
33827    0.0
33828    0.0
33829    NaN
Name: Speed Limit, Length: 33830, dtype: float64

#Handling Missing Data

In [73]:
titanic.dropna()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
6,6,7,0.0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"Dorchester, Massachusetts, US",Southampton,"Dorchester, Massachusetts, US"
10,10,11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,"Motala, Östergötland, Sweden",Southampton,"San Francisco, US"
11,11,12,1.0,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,"Youngstown, Ohio, US",Southampton,"Youngstown, Ohio, US"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,871,872,1.0,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,"New York, New York, US",Southampton,"New York, New York, US"
872,872,873,0.0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,"New York, New York, US",Southampton,"New York, New York, US"
879,879,880,1.0,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,"Philadelphia, Pennsylvania, US",Cherbourg,"Philadelphia, Pennsylvania, US"
887,887,888,1.0,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,"Greenwich, Connecticut, US",Southampton,"Greenwich, Connecticut, US"
889,889,890,1.0,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,"New York, New York, US",Cherbourg,"New York, New York, US"

In [74]:
titanic.dropna(axis=1)

,Unnamed: 0,PassengerId,Pclass,Name,Sex,Sibsp,Parch,Ticket
0,0,1,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171
1,1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599
2,2,3,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282
3,3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803
4,4,5,3,"Allen, Mr. William Henry",male,0,0,373450
...,...,...,...,...,...,...,...,...
1304,1304,1305,3,"Spector, Mr. Woolf",male,0,0,A.5. 3236
1305,1305,1306,1,"Oliva y Ocana, Dona. Fermina",female,0,0,PC 17758
1306,1306,1307,3,"Saether, Mr. Simon Sivertsen",male,0,0,SOTON/O.Q. 3101262
1307,1307,1308,3,"Ware, Mr. Frederick",male,0,0,359309
1308,1308,1309,3,"Peter, Master. Michael J",male,1,1,2668

In [75]:
titanic.fillna("Empty")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,Empty,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,Empty,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,Empty,S,"Birmingham, West Midlands, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,Empty,3,"Spector, Mr. Woolf",male,Empty,0,0,A.5. 3236,8.05,Empty,S,"London, England",Southampton,New York City
1305,1305,1306,Empty,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1306,1307,Empty,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,Empty,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US
1307,1307,1308,Empty,3,"Ware, Mr. Frederick",male,Empty,0,0,359309,8.05,Empty,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,Empty,3,"Peter, Master. Michael J",male,Empty,1,1,2668,22.3583,Empty,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [76]:
titanic.fillna(0, axis=1)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,0,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US"
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,0,S,"Jyväskylä, Finland",Southampton,New York City
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US"
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,0,S,"Birmingham, West Midlands, England",Southampton,New York City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,0,3,"Spector, Mr. Woolf",male,0,0,0,A.5. 3236,8.05,0,S,"London, England",Southampton,New York City
1305,1305,1306,0,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US"
1306,1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,0,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US
1307,1307,1308,0,3,"Ware, Mr. Frederick",male,0,0,0,359309,8.05,0,S,"Greenwich, London, England",Southampton,New York City
1308,1308,1309,0,3,"Peter, Master. Michael J",male,0,1,1,2668,22.3583,0,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

#Make New Columns

In [77]:
titanic.assign(NewCol = titanic.Age * titanic.Fare)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination,NewCol
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada",159.5000
1,1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"New York, New York, US",Cherbourg,"New York, New York, US",2708.7654
2,2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Jyväskylä, Finland",Southampton,New York City,206.0500
3,3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",1858.5000
4,4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Birmingham, West Midlands, England",Southampton,New York City,281.7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,"London, England",Southampton,New York City,NaN
1305,1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,"Madrid, Spain",Cherbourg,"New York, New York, US",4247.1000
1306,1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Skaun, Sør-Trøndelag, Norway",Southampton,US,279.1250
1307,1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,"Greenwich, London, England",Southampton,New York City,NaN
1308,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US",NaN

In [78]:
crash.assign(YearSl = crash["Speed Limit"] * crash["Vehicle Year"])

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Name,Off-Road Description,Municipality,...,Speed Limit,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Latitude,Longitude,Location,YearSl
0,DM8479000T,210020119,Takoma Park Police Depart,Property Damage Crash,05/27/2021 07:40:00 PM,NaN,NaN,NaN,IN PARKING LOT,NaN,...,0.0,No,Yes,2017.0,HINO,TWK,38.987657,-76.987545,"(38.98765667, -76.987545)",0.0
1,MCP2970000R,15045937,MONTGOMERY,Property Damage Crash,09/11/2015 01:29:00 PM,NaN,NaN,NaN,Parking Lot: \n2525 Ennalls Ave,NaN,...,5.0,No,No,2012.0,TOYOTA,SU,39.039917,-77.053649,"(39.03991652, -77.05364898)",10060.0
2,MCP20160036,180040948,Montgomery County Police,Property Damage Crash,08/17/2018 02:25:00 PM,NaN,NaN,NaN,PARKING LOT OF 16246 FREDERICK RD,NaN,...,15.0,No,No,2015.0,MAZD,TK,38.743373,-77.546997,"(38.743373, -77.54699707)",30225.0
3,EJ7879003C,230048975,Gaithersburg Police Depar,Injury Crash,08/11/2023 06:00:00 PM,NaN,NaN,NaN,1 N SUMMIT DRIVE,NaN,...,15.0,No,No,2018.0,RAM,TK,39.145873,-77.191940,"(39.14587303, -77.19194047)",30270.0
4,MCP2967004Y,230070277,Montgomery County Police,Property Damage Crash,12/06/2023 06:42:00 PM,Maryland (State),CONNECTICUT AVE,BALTIMORE ST,NaN,KENSINGTON,...,35.0,No,No,2017.0,AUDI,A3,39.025170,-77.076333,"(39.02517017, -77.07633333)",70595.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33825,MCP209400BB,180017998,Montgomery County Police,Injury Crash,04/13/2018 08:20:00 AM,County,MONTROSE RD,HITCHING POST LA,NaN,NaN,...,35.0,No,No,2003.0,MITSUBISHI,MONTERO,39.054292,-77.143150,"(39.05429167, -77.14315)",70105.0
33826,DM8386000R,170507911,Takoma Park Police Depart,Property Damage Crash,05/15/2017 04:06:00 PM,Municipality,FLOWER AVE,CHERRY AVE,NaN,TAKOMA PARK,...,20.0,No,No,2007.0,THOMAS,BUS,38.981507,-76.995727,"(38.98150667, -76.99572667)",40140.0
33827,DM84210022,190007907,Takoma Park Police Depart,Property Damage Crash,02/18/2019 04:30:00 PM,Maryland (State),NEW HAMPSHIRE AVE,HOLTON LA,NaN,TAKOMA PARK,...,35.0,No,No,2017.0,NISSAN,ROGUE,38.986373,-76.987948,"(38.98637333, -76.98794833)",70595.0
33828,MCP0936002F,170529107,Montgomery County Police,Property Damage Crash,09/07/2017 06:28:00 AM,Interstate (State),CAPITAL BELTWAY,RAMP 3 FR IS 495 EB TO MD 185 NB,NaN,NaN,...,35.0,No,No,2015.0,TOYOTA,00,39.003782,-77.077769,"(39.00378197, -77.07776874)",70525.0
33829,MCP21420006,220009711,Montgomery County Police,P,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
pd.qcut(titanic.Age, 2, labels=["Low", "High"])

0        Low
1       High
2        Low
3       High
4       High
        ...
1304     NaN
1305    High
1306    High
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: category
Categories (2, object): ['Low' < 'High']

In [80]:
pd.qcut(crash["Speed Limit"], 2, labels=["Low", "High"])

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
33825    Low
33826    Low
33827    Low
33828    Low
33829    NaN
Name: Speed Limit, Length: 33830, dtype: category
Categories (2, object): ['Low' < 'High']

In [81]:
titanic.Age.clip(0, 45)

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304     NaN
1305    39.0
1306    38.5
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

In [82]:
crash["Speed Limit"].clip(15, 25)

0        15.0
1        15.0
2        15.0
3        15.0
4        25.0
         ...
33825    25.0
33826    20.0
33827    25.0
33828    25.0
33829     NaN
Name: Speed Limit, Length: 33830, dtype: float64

#Windows

In [83]:
titanic.Age.expanding().mean()

0       22.000000
1       30.000000
2       28.666667
3       30.250000
4       31.200000
          ...
1304    29.864148
1305    29.872890
1306    29.881138
1307    29.881138
1308    29.881138
Name: Age, Length: 1309, dtype: float64

In [84]:
titanic.Age.rolling(1).mean()

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304     NaN
1305    39.0
1306    38.5
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

In [85]:
crash["Speed Limit"].expanding().mean()

0         0.000000
1         2.500000
2         6.666667
3         8.750000
4        14.000000
           ...
33825    32.242654
33826    32.242292
33827    32.242373
33828    32.242455
33829    32.242455
Name: Speed Limit, Length: 33830, dtype: float64

In [86]:
crash["Speed Limit"].rolling(2).mean()

0         NaN
1         2.5
2        10.0
3        15.0
4        25.0
         ...
33825    32.5
33826    27.5
33827    27.5
33828    35.0
33829     NaN
Name: Speed Limit, Length: 33830, dtype: float64

#Combine Data Sets

In [87]:
titanic.merge(titanic.Age, how="inner")

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Hometown,Boarded,Destination
0,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
1,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
2,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
3,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
4,0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Bridgerule, Devon, England",Southampton,"Qu'Appelle Valley, Saskatchewan, Canada"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93204,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93205,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93206,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93207,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"
93208,1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,"Sar'al[81], Syria",Cherbourg,"Detroit, Michigan, US"

In [ ]:
crash.merge(crash["Speed Limit"], how="inner")

#Plotting

In [ ]:
titanic.plot()

In [ ]:
crash.plot()

line graph

In [ ]:
titanic.plot.bar()

In [ ]:
crash.plot.bar()

In [ ]:
titanic.plot.scatter(x="PassengerId", y="Age")

In [ ]:
crash.plot.scatter(x="Speed Limit", y="Vehicle Year")

In [ ]:
titanic.plot.hist()

In [ ]:
crash.plot.hist()

In [ ]:
titanic.plot.area(subplots=True)

In [ ]:
crash.plot.area(subplots=True)

In [ ]:
titanic.plot.hexbin(x="PassengerId", y="Age")

In [ ]:
crash.plot.hexbin(x="Speed Limit", y="Vehicle Year")

In [ ]:
sample = titanic.sample(10)
sample.plot.pie(y="Fare")

In [ ]:
sample2 = crash.sample(10)
sample2.plot.pie(y="Speed Limit")

the bigger the piece of pie the more they paid than others

In [ ]:
titanic.boxplot(column='Age')

In [ ]:
crash.boxplot(column="Speed Limit")

#Changing Type

In [ ]:
pd.to_numeric(titanic.Fare)

In [ ]:
pd.to_datetime(crash["Speed Limit"])

In [ ]:
pd.to_datetime(titanic.Age)

In [ ]:
pd.to_datetime(crash["Vehicle Year"])

In [ ]:
titanic.PassengerId.astype("float")

In [ ]:
crash["Speed Limit"].astype("float")

In [ ]:
titanic.infer_objects()

In [ ]:
crash.infer_objects()

In [ ]:
titanic.convert_dtypes()

In [ ]:
crash.convert_dtypes()

#Datetime

In [ ]:
pd.to_datetime(titanic.Age).dt.day_name()

In [ ]:
pd.to_datetime(crash["Speed Limit"]).dt.day_name()

In [ ]:
pd.to_datetime(titanic.Age).dt.month_name()

In [ ]:
crash.head()

In [ ]:
pd.to_datetime(crash["Vehicle Year"]).dt.month_name()

###Mapping

In [ ]:
titanic.Sex.map({"male" : "M", "female" : "F"})

In [ ]:
crash["Vehicle Year"].map({2015 : "New", 2016 : "Old"}).fillna("Unknown")

In [ ]:
titanic.Fare.apply(lambda x: x *2)

In [ ]:
crash["Speed Limit"].apply(lambda x: x /2)

#Series String Operations

In [ ]:
titanic.Name.str.count("Miss")

In [ ]:
crash["Agency Name"].str.count("Police")

In [ ]:
titanic.Sex.str.get(0)

In [ ]:
crash["Vehicle Make"].get(1)

In [ ]:
titanic.Name.str.join("|")

In [ ]:
crash["Vehicle Make"].str.join(".")

In [ ]:
titanic.Sex.str.title()

In [ ]:
crash.head()

In [ ]:
crash["Vehicle Make"].str.lower()

In [ ]:
titanic.Name.str.len()

In [ ]:
crash["Vehicle Make"].str.len()

In [ ]:
titanic.Name.str.cat()

In [ ]:
crash["Vehicle Make"].str.cat(sep=",")

In [ ]:
titanic.Name.str.partition(",").drop(columns=1)

In [ ]:
titanic.Name.str.partition("E").drop(columns=1)

In [ ]:
titanic.Name.str.slice(0, 3, 1)

In [ ]:
crash["Vehicle Make"].str.slice(0, 4, 1)

In [ ]:
titanic.Sex.replace("male", "mail").replace("female", "fe-mail")

In [ ]:
crash["Vehicle Make"].replace("TOYOTA", "MAZDA")

In [ ]:
titanic.Name.str.isalnum()

In [ ]:
crash["Local Case Number"].str.isalnum()

#Summarize Data

In [ ]:
crash.describe()

In [ ]:
titanic.describe()

In [ ]:
len(titanic)

In [ ]:
len(crash)

In [ ]:
crash["Speed Limit"].value_counts()

In [ ]:
titanic.Age.value_counts()

In [ ]:
crash.shape

In [ ]:
titanic.shape

In [ ]:
titanic.info()

In [ ]:
crash.info()

In [ ]:
crash["Vehicle Make"].nunique()

In [ ]:
titanic.Name.nunique()

In [ ]:
titanic.memory_usage()

In [ ]:
crash.memory_usage()

In [ ]:
crash.dtypes

In [ ]:
titanic.dtypes

In [ ]:
titanic.Age.mean()

In [ ]:
crash["Speed Limit"].mean()

In [ ]:
titanic.Age.sum()

In [ ]:
crash["Speed Limit"].sum()

In [ ]:
titanic.Age.min()

In [ ]:
crash["Speed Limit"].min()

In [ ]:
titanic.Age.max()

In [ ]:
crash["Speed Limit"].max()

In [ ]:
titanic.Age.var()

In [ ]:
crash["Speed Limit"].var()

In [ ]:
titanic.Age.std()

In [ ]:
crash["Speed Limit"].std()

In [ ]:
titanic.Age.median()

In [ ]:
crash["Speed Limit"].median()

In [ ]:
crash["Speed Limit"].mode()

In [ ]:
titanic.Age.mode()